@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --titleBold: 700;
  --PRegular: 400;
  --Bold: 600;
  --medium: 500;
  --ExtraBold: 900;
}

html {
  scroll-behavior: smooth;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

/* Distances */
@media (max-width: 640px) {
  .mobile_border {
    @apply border-b border-inherit last:border-none;
  }
}

/* Calendar */

.rdrDayDisabled .rdrDayNumber {
  @apply bg-red-400;
}

/* Global Background */

body {
  @apply bg-background text-white;
}

.primary-bg {
  @apply bg-background text-white;
}

.secondary-bg {
  @apply bg-secondary_background text-white;
}

/* text colors  */
.text-primary {
  @apply text-text_primary;
}

.text-secondary {
  @apply text-text_secondary;
}

/* Accents */

.accent-primary {
  @apply text-accent_primary;
}
.accent-secondary {
  @apply text-accent_secondary;
}

/* Shadow */

.shadow-a {
  @apply shadow-[50px_0px_30px_0px_rgba(255,255,255,0.233)_inset,-50px_0px_30px_0px_rgba(255,255,255,0.233)_inset];
}

.custom_border {
  @apply border border-[rgba(255,255,255,0.125)] rounded-[0.4rem];
}

a {
  text-decoration: none;
  @apply text-accent_primary; /* links color */
}

/* Button - colors in tailwind*/

.btn {
  @apply flex items-center p-2 bg-accent_primary rounded-md font-poppins   text-white uppercase text-sm	 px-4 hover:bg-accent_secondary tracking-widest;
}

.btn-2 {
  @apply flex items-center p-2 bg-accent_primary rounded-md font-poppins text-white tracking-widest px-4 uppercase text-sm  hover:bg-accent_secondary;
}

.btn:focus {
  @apply focus:ring focus:ring-accent_secondary/50;
}

.btn-2:focus {
  @apply focus:ring focus:ring-accent_secondary/50;
}
